<table 
  mc:repeatable="content"
  mc:variant="Download item"
>
  <tr>
    <td class="pt-48" style="text-align: center;">
      <table class="wrapper">
        <tr>
          <td class="px-24">
            <table class="block_background">
              <tr>
                <td class="py-48 px-24">
                  <table>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td class="alpha" mc:edit="download_title">
                              Download shipping facts
                            </td>
                          </tr>
                          <tr>
                            <td class="lead white-50" mc:edit="download_text" mc:hideable>
                              Onmisbaar bij internationaal transport van goederen: Incoterms, containerafmetingen en de meest voorkomende afkortingen.
                            </td>
                          </tr>
                          <tr>
                            <td class="pt-24" mc:hideable>
                              <a href="#" class="button__link" mc:edit="download_link">Download now</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>