<table id="footer">
  <tr>
    <td class="pt-64">
      <table bgcolor="#000000">
        <tr>
          <td class="footer py-64">
            <table class="wrapper">
              <tr mc:hideable>
                <td>
                  <table>
                    <tr>
                      <td class="px-24 alpha">Follow us</td>
                    </tr>
                    <tr>
                      <td class="px-24 py-24">
                        <table>
                          <tr>
                            <td>
                              <a href="mailto:info@jordex.com"><img class="social-icon"
                                  src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/41cd82cb-5fb2-40d6-9754-dca8fc7b6ac9.png" /></a>
                            </td>
                            <td>
                              <a href="https://twitter.com/jordexshipping"><img class="social-icon"
                                  src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/47ca29ee-8068-41fc-ac95-17be0ed3b3ad.png" /></a>
                            </td>
                            <td>
                              <a href="https://www.facebook.com/pages/Jordex-Shipping-Forwarding-BV/171585779561758"><img class="social-icon"
                                  src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/f93d772a-3590-48a8-a628-0fb0ef818eaf.png" /></a>
                            </td>
                            <td>
                              <a href="https://www.linkedin.com/company/jordex-shipping-&-forwarding-bv"><img class="social-icon"
                                  src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/16d92374-c1c1-48b6-a317-4f925a76e5cf.png" /></a>
                            </td>
                            <td>
                              <a href="https://www.instagram.com/jordexshippingforwarding/"><img class="social-icon"
                                  src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/eadc769a-258a-44ba-bca5-335aad6ebac0.png" /></a>
                            </td>
                            <td class="button">
                              <a href="https://jordex.com/team/">
                                Our team
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td class="spacer-bottom pt-24" colspan="100" />
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="px-24">
                  <table>
                    <tr>
                      <td class="footer-text footer-bottom">
                        © 2020 Jordex <br/>
                        Postbus 55640, 3008 DC Rotterdam, Nederland
                      </td>
                      <td class="footer-bottom footer-text footer-right">
                        <a href="*|UNSUB|*">Uitschrijven</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>