<table id="header">
  <tr>
    <td class="header py-24">
      <table class="wrapper">
        <tr>
          <td class="px-24">
            <table>
              <tr>
                <td><a href="*|ARCHIVE|*">View in browser</a></td>
                <td align="right"><img width="112"
                    src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/2cc71651-1dfe-49ba-99ca-16d102a28f40.png">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>