<table mc:repeatable="content" mc:variant="Intro header with date">
  <tr>
    <td class="pt-64">
      <table class="wrapper">
        <tr>
          <td class="px-24">
            <table>
              <tr>
                <td>
                  <table>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td class="lead white-50" mc:edit="date" mc:hideable>November, 2020</td>
                          </tr>
                          <tr>
                            <td class="alpha pt-24" mc:edit="text ">Export Golf blijft groeien, overzicht verschoven
                              beurzen en congestie Soedan
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>