<table mc:repeatable="content" mc:variant="highlight item">
  <tr>
    <td class="pt-64">
      <table class="highlight-container">
        <tr>
          <td>
            <table class="wrapper">
              <tr>
                <td class="py-24 px-24">
                  <table class="highlight-content">
                    <tr>
                      <td class="beta" mc:edit="highlight_title">Export Golfregio blijft groeien</td>
                      <td align="right" mc:edit="highlight_link">
                        <a href="#">
                          <img width="20px" style="vertical-align: center;" src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/a84d8eef-342c-4354-90a6-fa1f5d42cabd.png" />
                          <span>Read more</span>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
          </td>
      </table>
    </td>
  </tr>
</table>
</td>
</tr>
</table>