<table mc:repeatable="content" mc:variant="news items">
  <tr>
    <td class="pt-48">
      <table class="wrapper">
        <tr mc:hideable>
          <td class="px-24 pt-24 beta" mc:edit="news_title">Laatste nieuws</td>
        </tr>
        <tr mc:repeatable="newsrow">
          <td class="pt-24 px-16">
            <table>
              <tr>
                <td class="col-1-2 px-8 newsitem_container" mc:repeatable="newsitem">
                  <table class="newsitem">
                    <tr>
                      <th class="newsitem__image" mc:edit="newsitem_image">
                        <img
                          src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/518e131c-d3ab-4461-8197-cbc27070b641.gif" />
                      </th>
                    </tr>
                    <tr>
                      <td class="px-16 newsitem__header" mc:edit="newsitem_title">
                        Congestie in de haven van Soedan
                      </td>
                    </tr>
                    <tr>
                      <td class="p-16 newsitem__body" mc:edit="newsitem_body">
                        Het aantal schepen die buiten territoriale wateren wachten op een ligplaats in de haven van
                        Soedan neemt toe. Het gevolg; vertragingen en een Vessel Delay Surcharge.
                      </td>
                    </tr>
                    <tr>
                      <td class="px-16 pb-16 newsitem__footer website__link" mc:edit="newsitem_link">
                        <a href="#">
                          <img width="20px" style="vertical-align: center;" src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/a84d8eef-342c-4354-90a6-fa1f5d42cabd.png" />
                          <span>Read more</span>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>