<table  mc:repeatable="content" mc:variant="team items">
  <tr>
    <td class="pt-64">
      <table class="wrapper">
        <tr mc:hideable>
          <td class="px-24 pb-24 beta" mc:edit="team_title">Het team van Jordex Projects</td>
        </tr>
        <tr>
          <td class="px-24">
            <table>
              <tr>
                <td class="col-1-2 newsitem_container__left">
                  <table class="newsitem">
                    <tr>
                      <th class="newsitem__image" mc:edit="teamitem_left_image">
                        <img mc:edit="team_image_left" src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/518e131c-d3ab-4461-8197-cbc27070b641.gif" />
                      </th>
                    </tr>
                    <tr>
                      <td class="px-16 newsitem__header" mc:edit="teamitem_left_title">
                        Gerben Langstraat
                      </td>
                    </tr>
                    <tr>
                      <td class="p-16 newsitem__body" mc:edit="teamitem_left_body">
                        T. +31 (0)10 303 71 01 <br/>
                        E. gerben.langstraat@jordex.com 
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="col-1-2 newsitem_container__right">
                  <table class="newsitem">
                    <tr>
                      <th class="newsitem__image" mc:edit="teamitem_right_image">
                        <img mc:edit="team_image_right" src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/518e131c-d3ab-4461-8197-cbc27070b641.gif" />
                      </th>
                    </tr>
                    <tr>
                      <td class="px-16 newsitem__header" mc:edit="teamitem_right_title">
                        Gerben Langstraat
                      </td>
                    </tr>
                    <tr>
                      <td class="p-16 newsitem__body" mc:edit="teamitem_right_body">
                        T. +31 (0)10 303 71 01 <br/>
                        E. gerben.langstraat@jordex.com 
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>