<table mc:repeatable="content" mc:variant="text item">
  <tr>
    <td class="pt-64">
      <table class="wrapper-small">
        <tr>
          <td class="text-container wrapper">
            <table>
              <tr mc:hideable>
                <td class="pb-24 beta" mc:edit="text_item_title">Het team van Jordex Projects</td>
              </tr>
              <tr>
                <td class="body-text" mc:edit="text_item_body">
                  Met Jordex Projects & Chartering hebben we er een kantoor bij. Een verbreding van het Jordex
                  dienstenpakket
                  met een nieuw specialistisch team dat de Jordex missie ademt.<br /><br />

                  Grote en unieke goederen die op dezelfde tijd op dezelfde plaats moeten zijn, kenmerken projectlading.
                  Ieder
                  project heeft specifieke eisen. Zowel voor wereldwijde project logistiek als over de Europese
                  binnenwateren,
                  samen met het verzorgen van betrouwbare op- en overslagservices, zijn wij er voor u.<br /><br />

                  Onze specialisten beschikken over solide, sterke partners van agenten en leveranciers, waarmee zij uw
                  wereldwijde logistieke maatoplossingen in goede banen kunnen leiden. In West-Europa treden we op als
                  haven-
                  en scheepsagent. Het aanbieden van 24/7 inspectie- en supervisieservices sluiten we in deze rol niet
                  uit.<br /><br />

                  Elke individuele actie is van cruciale waarde, waar de optelsom van details en individueel uitblinken
                  het
                  succes bepaalt. Het zijn onze mensen die ons definiëren. Mensen met marktkennis, die u adviseren met
                  een
                  gedetailleerd plan, waarbij operationele en vrachtrisico’s afgedekt kunnen worden.

                  <ul>
                    <li>asa</li>
                    <li>asa</li>
                  </ul>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>