<table  mc:repeatable="content" mc:variant="video item">
  <tr>
    <td class="pt-48">
      <table class="wrapper">
        <tr>
          <td class="px-24">
            <table class="block_background">
              <tr mc:hideable>
                <td class="pt-16">
                  <table>
                    <tr>
                      <td class="px-16 beta" mc:edit="video_title">Keep it cool</td>
                    </tr>
                    <tr>
                      <td class="px-16 body-text white-50" mc:edit="video_text">Met de brand movie WE ARE JORDEX die vorig jaar uitkwam, heb je kennis kunnen maken met de mensen van Jordex en de bedrijfscultuur. Het laat zien wie zij zijn als team én waar we voor staan.</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="p-16 video-item" mc:edit="video_content">
                  <a href="https://www.youtube.com/watch?v=Di5dWU4ZsZ8">
                    <img class="video-img" src="https://mcusercontent.com/fab648654db193a9acfa71d15/images/b40ddad6-246f-4629-9c5b-89f3264da7d2.jpg" />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>